In [1]:
library(dbplyr)
library(dplyr)
library(odbc)
library(RPostgres)
library(plutoR)
options("scipen"=999)
source("config.R")

Attaching package: ‘dplyr’

The following objects are masked from ‘package:dbplyr’:

    ident, sql

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
equitiesIndiaNse <- EquitiesIndiaNse()

In [3]:
print("earliest 10 listed equity")
equitiesIndiaNse$Tickers() %>%
  top_n(-10, wt = DATE_LISTING) %>%
  print(n)

[1] "earliest 10 listed equity"
# Source:   lazy query [?? x 8]
# Database: Microsoft SQL Server 13.00.4224[ro1@NORWAY/StockViz]
   ISIN     SYMBOL   SERIES NAME           DATE_LISTING PAID_UP  FACE MARKET_LOT
   <chr>    <chr>    <chr>  <chr>          <date>         <dbl> <dbl>      <dbl>
 1 INE769A… AARTIIND BE     Aarti Industr… 1995-02-08         5     5          1
 2 INE117A… ABB      EQ     ABB India Lim… 1995-02-08         2     2          1
 3 INE606A… AMJLAND  EQ     Amj Land Hold… 1995-02-08         2     2          1
 4 INE034A… ARVIND   EQ     Arvind Limited 1995-02-08        10    10          1
 5 INE119A… BALRAMC… EQ     Balrampur Chi… 1995-02-08         1     1          1
 6 INE113O… BLUEBLE… BE     Blue Blends (… 1995-02-08        10    10          1
 7 INE486A… CESC     EQ     CESC Limited   1995-02-08        10    10          1
 8 INE059A… CIPLA    EQ     Cipla Limited  1995-02-08         2     2          1
 9 INE230A… EIHOTEL  EQ     EIH Limited    1995-02-08         2     2          1
10 INE171A… FEDERAL… EQ     The Federal B… 1995-02-08         2     2          1
# … with more rows

This notebook was created using [pluto](http://pluto.studio). Learn more [here](https://github.com/shyams80/pluto)