In [1]:
library(tidyverse)
library(odbc)
library(plutoR)

options("scipen"=999)
options(stringsAsFactors = FALSE)

source("config.R")

indices<-Indices()

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.2.0     ✔ purrr   0.3.2
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   0.8.3     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
indices$IndiaVixTimeSeries() %>%
    top_n(10, wt=TIME_STAMP) %>%
    print()

ERROR: Error: <SQL> 'SELECT TOP(11) *
FROM (SELECT TOP 100 PERCENT "TIME_STAMP", "PX_HIGH" AS "HIGH", "PX_LOW" AS "LOW", "PX_OPEN" AS "OPEN", "PX_CLOSE" AS "CLOSE"
FROM "VIX_HISTORY") "dbplyr_001"
WHERE (top_n_rank(10.0, "TIME_STAMP"))'
  nanodbc/nanodbc.cpp:1587: 42000: [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]'top_n_rank' is not a recognized built-in function name.

This notebook was created using [pluto](http://pluto.studio). Learn more [here](https://github.com/shyams80/pluto)