# Using the Commodity Futures and Options data-set

The python version of this sample can be found [here](https://github.com/shyams80/plutons/blob/master/docs-py/CommodityFuturesAndOptions.ipynb)

In [1]:
library(DBI)
library(plutoDbR)
library(plutoR)
library(tidyverse)
options("scipen"=999)
source("/usr/share/pluto/config.R")

#initialize
commodityFO <- CommodityFuturesAndOptions()

### get all the commodities that are being traded in COMEX and NYMEX

In [4]:
maxDt <- (commodityFO$CmeEod() %>%
          summarize(MAX_DT = max(TIME_STAMP)) %>%
          collect())$MAX_DT[[1]]

t1 <- commodityFO$CmeEod() %>%
  filter(TIME_STAMP == maxDt) %>%
  group_by(PRODUCT_SYMBOL, PRODUCT_DESCRIPTION) %>%
  summarize(TOTAL_VOLUME = sum(VOLUME)) %>%
  select(PRODUCT_SYMBOL, PRODUCT_DESCRIPTION, TOTAL_VOLUME) %>%
  collect()

t2 <- commodityFO$CmeEod() %>%
  group_by(PRODUCT_SYMBOL) %>%
  summarize(START_DT = min(TIME_STAMP)) %>%
  select(PRODUCT_SYMBOL, START_DT) %>%
  collect()

t1 %>%
  inner_join(t2, by=c('PRODUCT_SYMBOL')) %>%
  filter(TOTAL_VOLUME > 0) %>%
  arrange(desc(TOTAL_VOLUME)) %>%
  print()

# A tibble: 125 x 4
# Groups:   PRODUCT_SYMBOL [125]
   PRODUCT_SYMBOL PRODUCT_DESCRIPTION                     TOTAL_VOLUME START_DT
   <chr>          <chr>                                          <int> <chr>
 1 CL             Light Sweet Crude Oil Futures                1286943 2013-11-…
 2 NG             Henry Hub Natural Gas Futures                 699515 2013-11-…
 3 GC             Gold Futures                                  404737 2013-11-…
 4 RB             Rbob Gasoline Futures                         202194 2013-11-…
 5 HO             Ny Harbor Ulsd Futures                        159810 2013-11-…
 6 SI             Silver Futures                                121801 2013-11-…
 7 BZ             Brent Crude Oil Last Day Financial Fut…       100109 2013-11-…
 8 HG             Copper Futures                                 69086 2013-11-…
 9 CLT            Crude Oil Tas Futures                          54152 2013-11-…
10 MGC            E-micro Gold Futures                           40508 2013-11-…
# … with 115 more rows

### get all the commodity futures that are being traded in MCX

In [5]:
maxDt <- (commodityFO$McxEod() %>%
            summarize(MAX_DT = max(TIME_STAMP)) %>%
            collect())$MAX_DT[[1]]

t1 <- commodityFO$McxEod() %>%
  filter(TIME_STAMP == maxDt & (OTYPE == 'XX' | OTYPE == 'FUTCOM')) %>%
  group_by(CONTRACT) %>%
  summarize(TOTAL_OI = sum(OI)) %>%
  select(CONTRACT, TOTAL_OI) %>%
  collect()

t2 <- commodityFO$McxEod() %>%
  group_by(CONTRACT) %>%
  summarize(START_DT = min(TIME_STAMP)) %>%
  select(CONTRACT, START_DT) %>%
  collect()

t1 %>%
  inner_join(t2, by=c('CONTRACT')) %>%
  filter(TOTAL_OI > 0) %>%
  arrange(desc(TOTAL_OI)) %>%
  print()

# A tibble: 22 x 3
   CONTRACT   TOTAL_OI START_DT
   <chr>         <int> <chr>
 1 CRUDEOILM     37068 2015-01-06
 2 GOLD          27371 2003-11-10
 3 SILVERMIC     21025 2011-02-18
 4 GOLDM         16012 2003-11-20
 5 NICKEL        13929 2004-06-03
 6 CRUDEOIL      12899 2005-02-09
 7 NATURALGAS    12585 2006-07-11
 8 SILVER        11641 2003-11-10
 9 GOLDPETAL     10953 2011-04-18
10 SILVERM       10077 2004-02-17
# … with 12 more rows

### get all the commodity futures that are being traded in NCDEX

In [6]:
maxDt <- (commodityFO$NcdexEod() %>%
            summarize(MAX_DT = max(TIME_STAMP)) %>%
            collect())$MAX_DT[[1]]

t1 <- commodityFO$NcdexEod() %>%
  filter(TIME_STAMP == maxDt) %>%
  group_by(COMMODITY) %>%
  summarize(TOTAL_OI = sum(OI)) %>%
  select(COMMODITY, TOTAL_OI) %>%
  collect()

t2 <- commodityFO$NcdexEod() %>%
  group_by(COMMODITY) %>%
  summarize(START_DT = min(TIME_STAMP)) %>%
  select(COMMODITY, START_DT) %>%
  collect()

t1 %>%
  inner_join(t2, by=c('COMMODITY')) %>%
  filter(TOTAL_OI > 0) %>%
  arrange(desc(TOTAL_OI)) %>%
  print()

# A tibble: 14 x 3
   COMMODITY              TOTAL_OI START_DT
   <chr>                     <int> <chr>
 1 CASTORSEEDNEW            285495 2009-09-03
 2 GUAR_SEED10              136290 2013-09-05
 3 RAPE_MUSTARD_SEEDS       100660 2010-11-10
 4 COTTONSEEDOILCAKEAKOLA    70910 2009-09-03
 5 GUARGUM_5MT               67050 2016-05-02
 6 SOY_OIL                   62550 2015-06-01
 7 CORIANDER                 31330 2008-08-11
 8 WHEATKOTA                 11260 2017-12-01
 9 MAIZERABI                  4200 2016-02-26
10 KAPASNEW                   3196 2018-06-14
11 BARLEY                     2200 2006-12-11
12 MOONG                       550 2019-07-08
13 MAIZEKHARIF                 100 2013-10-23
14 PADDY_BASMATI                40 2019-07-10

This notebook was created using [pluto](https://pluto.studio). Thank you for playing fair!