# Using the Equities India (NSE) data-set

The python version of this sample can be found [here](https://github.com/shyams80/plutons/blob/master/docs-py/EquitiesIndiaNse.ipynb)

In [1]:
library(DBI)
library(plutoDbR)
library(plutoR)
library(tidyverse)
options("scipen"=999)
source("/usr/share/pluto/config.R")

#initialize
equitiesIndiaNse <- EquitiesIndiaNse()

### fetch the earliest 10 listed equity

In [2]:
print("earliest 10 listed equity")
equitiesIndiaNse$Tickers() %>%
  arrange(DATE_LISTING) %>%
  head(10) %>%
  print(n)

[1] "earliest 10 listed equity"
# Source:     lazy query [?? x 8]
# Database:   NORWAY:StockViz:R
# Ordered by: DATE_LISTING
   ISIN     SYMBOL   SERIES NAME           DATE_LISTING PAID_UP  FACE MARKET_LOT
   <chr>    <chr>    <chr>  <chr>          <chr>          <int> <int>      <int>
 1 INE451A… FORCEMOT EQ     FORCE MOTORS … 1994-11-03        10    10          1
 2 INE717A… KENNAMET EQ     Kennametal In… 1994-11-03        10    10          1
 3 INE769A… AARTIIND EQ     Aarti Industr… 1995-02-08         5     5          1
 4 INE117A… ABB      EQ     ABB India Lim… 1995-02-08         2     2          1
 5 INE606A… AMJLAND  EQ     Amj Land Hold… 1995-02-08         2     2          1
 6 INE034A… ARVIND   EQ     Arvind Limited 1995-02-08        10    10          1
 7 INE119A… BALRAMC… EQ     Balrampur Chi… 1995-02-08         1     1          1
 8 INE113O… BLUEBLE… BE     Blue Blends (… 1995-02-08        10    10          1
 9 INE486A… CESC     EQ     CESC Limited   1995-02-08        10    10          1
10 INE059A… CIPLA    EQ     Cipla Limited  1995-02-08         2     2          1

### fetch some "misc" info for State Bank of India

In [3]:
maxDt <- (equitiesIndiaNse$MiscInfo() %>%
  summarize(MAX_DT = max(TIME_STAMP)) %>%
  collect())$MAX_DT[[1]]

print("SBIN's latest misc info: ")
equitiesIndiaNse$MiscInfo() %>%
  filter(TIME_STAMP == maxDt & SYMBOL == 'SBIN') %>%
  print(n=Inf)

[1] "SBIN's latest misc info: "
# Source:   lazy query [?? x 6]
# Database: NORWAY:StockViz:R
  SYMBOL TIME_STAMP FF_MKT_CAP_CR D2T_PCT LOWER_PX_BAND UPPER_PX_BAND
  <chr>  <chr>              <dbl>   <dbl>         <dbl>         <dbl>
1 SBIN   2019-09-12       109467.    56.7          257.          314.

### fetch the market-cap decile of DHFL since we started capturing the data-set

In [4]:
print("market-cap deciles for DHFL over time:")
equitiesIndiaNse$MarketCapDecile() %>%
  filter(SYMBOL == 'DHFL') %>%
  arrange(TIME_STAMP) %>%
  print(n=Inf)

[1] "market-cap deciles for DHFL over time:"
# Source:     lazy query [?? x 3]
# Database:   NORWAY:StockViz:R
# Ordered by: TIME_STAMP
   SYMBOL TIME_STAMP DECILE
   <chr>  <chr>       <int>
 1 DHFL   2014-08-28      1
 2 DHFL   2014-09-25      1
 3 DHFL   2014-10-30      1
 4 DHFL   2014-11-27      1
 5 DHFL   2014-12-24      1
 6 DHFL   2015-01-29      1
 7 DHFL   2015-02-26      1
 8 DHFL   2015-03-26      1
 9 DHFL   2015-04-30      1
10 DHFL   2015-05-28      1
11 DHFL   2015-06-25      1
12 DHFL   2015-07-30      1
13 DHFL   2015-08-27      1
14 DHFL   2015-09-24      1
15 DHFL   2015-10-29      1
16 DHFL   2015-11-26      1
17 DHFL   2015-12-31      1
18 DHFL   2016-01-28      1
19 DHFL   2016-02-25      1
20 DHFL   2016-03-31      1
21 DHFL   2016-04-28      1
22 DHFL   2016-05-26      1
23 DHFL   2016-06-30      1
24 DHFL   2016-07-28      1
25 DHFL   2016-08-25      1
26 DHFL   2016-09-29      1
27 DHFL   2016-10-27      1
28 DHFL   2016-11-24      1
29 DHFL   2016-12-29      1
30 DHFL   2017-01-25      1
31 DHFL   2017-02-23      1
32 DHFL   2017-03-30      0
33 DHFL   2017-04-27      0
34 DHFL   2017-05-25      0
35 DHFL   2017-06-29      0
36 DHFL   2017-07-27      0
37 DHFL   2017-08-31      0
38 DHFL   2017-09-28      0
39 DHFL   2017-10-26      0
40 DHFL   2017-11-30      0
41 DHFL   2017-12-28      0
42 DHFL   2018-01-25      0
43 DHFL   2018-02-22      0
44 DHFL   2018-03-28      0
45 DHFL   2018-04-26      0
46 DHFL   2018-06-28      0
47 DHFL   2018-07-26      0
48 DHFL   2018-08-30      0
49 DHFL   2018-09-27      0
50 DHFL   2018-10-25      1
51 DHFL   2018-11-29      1
52 DHFL   2018-12-27      1
53 DHFL   2019-01-31      1
54 DHFL   2019-02-28      1
55 DHFL   2019-03-28      1
56 DHFL   2019-04-25      1
57 DHFL   2019-05-30      1
58 DHFL   2019-06-27      2
59 DHFL   2019-07-25      2
60 DHFL   2019-08-29      2

### fetch the latest end-of-day prices for State Bank of India

In [5]:
maxDt <- (equitiesIndiaNse$EodTimeSeries() %>%
  summarize(MAX_DT = max(TIME_STAMP)) %>%
  collect())$MAX_DT[[1]]

print("latest end-of-day prices for SBIN:")
equitiesIndiaNse$EodTimeSeries() %>%
  filter(TIME_STAMP == maxDt & SYMBOL == 'SBIN') %>%
  print()

[1] "latest end-of-day prices for SBIN:"
# Source:   lazy query [?? x 9]
# Database: NORWAY:StockViz:R
  SYMBOL SERIES TIME_STAMP   HIGH    LOW   OPEN  CLOSE   LAST   VOLUME
  <chr>  <chr>  <chr>       <dbl>  <dbl>  <dbl>  <dbl>  <dbl>    <int>
1 SBIN   EQ     2019-09-11   286.   278.   278.   285.   285. 20999669
2 SBIN   N2     2019-09-11 11290  11211  11211  11274. 11290        16
3 SBIN   N5     2019-09-11 11400  11380. 11400  11399. 11400.      440
4 SBIN   N6     2019-09-11 11150  11150  11150  11150  11150        20

### fetch the last 10 day EOD prices for State Bank of India equity

In [6]:
print("last 10 day EOD prices for SBIN equity:")
equitiesIndiaNse$EodTimeSeries() %>%
  filter(SYMBOL == 'SBIN' & (SERIES == 'EQ' | SERIES == 'BE')) %>%
  arrange(desc(TIME_STAMP)) %>%
  head(10) %>%
  print(n=Inf)

[1] "last 10 day EOD prices for SBIN equity:"
# Source:     lazy query [?? x 9]
# Database:   NORWAY:StockViz:R
# Ordered by: desc(TIME_STAMP)
   SYMBOL SERIES TIME_STAMP  HIGH   LOW  OPEN CLOSE  LAST   VOLUME
   <chr>  <chr>  <chr>      <dbl> <dbl> <dbl> <dbl> <dbl>    <int>
 1 SBIN   EQ     2019-09-11  286.  278.  278.  285.  285. 20999669
 2 SBIN   EQ     2019-09-09  279.  271   274.  278   278. 18616889
 3 SBIN   EQ     2019-09-06  277   272.  275.  274.  274. 16675146
 4 SBIN   EQ     2019-09-05  276.  271.  275   273.  274. 25085139
 5 SBIN   EQ     2019-09-04  276.  267.  270.  275.  275. 27309675
 6 SBIN   EQ     2019-09-03  272   267.  272   268.  268. 21241863
 7 SBIN   EQ     2019-08-30  278.  267.  276.  274.  273. 45702652
 8 SBIN   EQ     2019-08-29  284.  273.  283.  274.  276. 27083514
 9 SBIN   EQ     2019-08-28  287.  282.  287.  285.  285. 18979998
10 SBIN   EQ     2019-08-27  288   283.  284   286.  286. 45164811

### UPL did a 1:2 bonus on 2019-07-02. see unadjusted eod vs. adjusted eod

In [7]:
startDt <- as.Date("2019-06-15")
endDt <- as.Date("2019-07-15")

print("unadjusted eod")

equitiesIndiaNse$EodTimeSeries() %>%
  filter(SYMBOL == "UPL" & TIME_STAMP >= startDt & TIME_STAMP <= endDt) %>%
  arrange(TIME_STAMP) %>%
  print(n=Inf)

print("adjusted eod")

equitiesIndiaNse$EodAdjustedTimeSeries() %>%
  filter(SYMBOL == "UPL" & TIME_STAMP >= startDt & TIME_STAMP <= endDt) %>%
  arrange(TIME_STAMP) %>%
  print(n=Inf)

[1] "unadjusted eod"
# Source:     lazy query [?? x 9]
# Database:   NORWAY:StockViz:R
# Ordered by: TIME_STAMP
   SYMBOL SERIES TIME_STAMP  HIGH   LOW  OPEN CLOSE  LAST   VOLUME
   <chr>  <chr>  <chr>      <dbl> <dbl> <dbl> <dbl> <dbl>    <int>
 1 UPL    EQ     2019-06-17 1014.  991  1008.  995.  993   1437711
 2 UPL    EQ     2019-06-18 1004.  988   994  1000.  998   1125228
 3 UPL    EQ     2019-06-19 1006.  937. 1003   950.  953   2657234
 4 UPL    EQ     2019-06-20  941.  833   941.  870.  870  12905733
 5 UPL    EQ     2019-06-21  915.  868.  876   890.  889. 12447297
 6 UPL    EQ     2019-06-24  942.  895.  903.  937.  938   6506356
 7 UPL    EQ     2019-06-25  940.  910.  934.  935.  931.  5140843
 8 UPL    EQ     2019-06-26  964.  922.  931   958.  957   3365399
 9 UPL    EQ     2019-06-27  962.  937.  952.  944.  943.  5241680
10 UPL    EQ     2019-06-28  951   919.  946   937.  941   3292847
11 UPL    EQ     2019-07-01  957   936.  945   948.  944.  2692425
12 UPL    EQ     2019-07-02  659.  625.  637.  656.  656.  6615515
13 UPL    EQ     2019-07-03  663.  648.  658.  652.  651   2997163
14 UPL    EQ     2019-07-04  706.  653.  655.  698.  697. 12488054
15 UPL    EQ     2019-07-05  709.  661.  707.  666.  667  12058104
16 UPL    EQ     2019-07-08  674.  653   670.  662.  660.  4403598
17 UPL    EQ     2019-07-09  660   632.  660   640.  639.  7434335
18 UPL    EQ     2019-07-10  647.  627.  635   635.  637   4906675
19 UPL    EQ     2019-07-11  649   629.  641.  631.  631.  2705479
20 UPL    EQ     2019-07-12  647.  627   632   630.  631.  4796783
21 UPL    EQ     2019-07-15  650   622.  634   647.  648   4505796
[1] "adjusted eod"
# Source:     lazy query [?? x 7]
# Database:   SWEDEN:StockVizDyn:R
# Ordered by: TIME_STAMP
   SYMBOL TIME_STAMP  HIGH   LOW  OPEN CLOSE  VOLUME
   <chr>  <chr>      <dbl> <dbl> <dbl> <dbl>   <int>
 1 UPL    2019-06-17  676.  661.  672.  663.  448149
 2 UPL    2019-06-18  669.  659.  663.  666.  332085
 3 UPL    2019-06-19  671.  625.  669.  634.  775838
 4 UPL    2019-06-20  627.  556.  627.  580. 1156875
 5 UPL    2019-06-21  610.  579.  584   593. 1377026
 6 UPL    2019-06-24  627.  597.  602.  624. 1090064
 7 UPL    2019-06-25  626.  607.  623.  623. 1029428
 8 UPL    2019-06-26  642   615.  621.  639.  764798
 9 UPL    2019-06-27  641.  625.  635.  629   947531
10 UPL    2019-06-28  634.  612.  631.  625.  704298
11 UPL    2019-07-01  638.  624.  630   632.  696654
12 UPL    2019-07-02  659.  630.  637.  656.  722153
13 UPL    2019-07-03  662.  648.  658.  652.  482262
14 UPL    2019-07-04  706.  653.  655.  698. 1063070
15 UPL    2019-07-05  709.  661.  707.  666.  779266
16 UPL    2019-07-08  673.  653.  670.  662.  572263
17 UPL    2019-07-09  660   633.  660   640.  771744
18 UPL    2019-07-10  646.  628.  635   635.  632122
19 UPL    2019-07-11  649.  629.  641.  631.  423591
20 UPL    2019-07-12  646.  627   632   630.  673435
21 UPL    2019-07-15  650.  622.  634   647.  561943

### fetch the last 10 day returns for State Bank of India

In [8]:
print("the last 10 day returns for SBIN: ")
equitiesIndiaNse$DailyReturns() %>%
  filter(SYMBOL == "SBIN") %>%
  arrange(desc(TIME_STAMP)) %>%
  head(10) %>%
  print(n=Inf)

[1] "the last 10 day returns for SBIN: "
# Source:     lazy query [?? x 3]
# Database:   NORWAY:StockViz:R
# Ordered by: desc(TIME_STAMP)
   SYMBOL TIME_STAMP    VALUE
   <chr>  <chr>         <dbl>
 1 SBIN   2019-09-11  0.0261
 2 SBIN   2019-09-09  0.0148
 3 SBIN   2019-09-06  0.00240
 4 SBIN   2019-09-05 -0.0065
 5 SBIN   2019-09-04  0.025
 6 SBIN   2019-09-03 -0.0199
 7 SBIN   2019-08-30 -0.00240
 8 SBIN   2019-08-29 -0.0365
 9 SBIN   2019-08-28 -0.0028
10 SBIN   2019-08-27  0.0196

### fetch the last 10 corporate actions for State Bank of India

In [9]:
print("the last 10 corporate actions for SBIN: ")
equitiesIndiaNse$CorporateActions() %>%
  filter(SYMBOL == "SBIN") %>%
  arrange(desc(EX_DATE)) %>%
  head(10) %>%
  print(n=Inf)

[1] "the last 10 corporate actions for SBIN: "
# Source:     lazy query [?? x 5]
# Database:   NORWAY:StockViz:R
# Ordered by: desc(EX_DATE)
   SYMBOL SERIES EX_DATE   PURPOSE                               WHEN_UPDATED
   <chr>  <chr>  <chr>     <chr>                                 <chr>
 1 SBIN   EQ     2018-06-… " ANNUAL GENERAL MEETING/ CHANGE IN … 2018-06-08 16:…
 2 SBIN   EQ     2017-05-… " DIVIDEND"                           2017-05-15 16:…
 3 SBIN   EQ     2017-05-… " DIVIDEND - RS 2.60 PER SHARE (PURP… 2017-05-23 16:…
 4 SBIN   EQ     2016-06-… " FINAL DIVIDEND"                     2016-05-17 13:…
 5 SBIN   EQ     2016-06-… " DIVIDEND - RS 2.60/- PER SHARE"     2016-06-01 17:…
 6 SBIN   EQ     2015-05-… DIVIDEND                              2015-05-13 16:…
 7 SBIN   EQ     2015-05-… DIVIDEND - RS 3.50/- PER SHARE (PURP… 2015-05-27 16:…
 8 SBIN   EQ     2014-11-… FACE VALUE SPLIT RS.10/- TO RE.1/- P… 2014-10-29 19:…
 9 SBIN   EQ     2014-05-… AGM/DIVIDEND                          2014-05-15 13:…
10 SBIN   EQ     2014-05-… ANNUAL GENERAL MEETING AND DIVIDEND … 2014-05-28 16:…

### fetch the last 10 corporate events for State Bank of India

In [10]:
print("the last 10 corporate events for SBIN: ")
equitiesIndiaNse$CorporateEvents() %>%
  filter(SYMBOL == "SBIN") %>%
  arrange(desc(EVENT_DATE)) %>%
  head(10) %>%
  print(n=Inf)

[1] "the last 10 corporate events for SBIN: "
# Source:     lazy query [?? x 4]
# Database:   NORWAY:StockViz:R
# Ordered by: desc(EVENT_DATE)
   SYMBOL DISC_DATE  PURPOSE                EVENT_DATE
   <chr>  <chr>      <chr>                  <chr>
 1 SBIN   2019-07-18 Financial Results      2019-08-02
 2 SBIN   2019-05-23 Other business matters 2019-05-29
 3 SBIN   2019-05-23 Other business matters 2019-05-29
 4 SBIN   2019-04-25 Financial Results      2019-05-10
 5 SBIN   2019-01-21 Financial Results      2019-02-01
 6 SBIN   2019-01-25 Other business matters 2019-01-31
 7 SBIN   2019-01-25 Other business matters 2019-01-31
 8 SBIN   2018-10-25 Financial Results      2018-11-05
 9 SBIN   2018-10-25 Financial Results      2018-11-05
10 SBIN   2018-10-16 Fund Raising           2018-10-22

### fetch the last 24 quarter EPS for State Bank of India

In [11]:
print("the last 24 quarter EPS for SBIN: ")
refs <- equitiesIndiaNse$CorporateResultsMeta() %>%
  filter(SYMBOL == 'SBIN' & IS_CONSOLIDATED == 0 & PERIOD %like% '%quarter') %>%
  collect() %>%
  arrange(desc(PERIOD_END)) %>%
  head(24) %>%
  select(REF_ID, PERIOD_END, PERIOD)

print(refs)

for(i in 1:nrow(refs)){
  ref <- refs[i,]
  print(ref)

  rid <- ref$REF_ID[1]

  t1 <- equitiesIndiaNse$CorporateResults() %>%
    filter(REF_ID == rid & (KEY %like% '%diluted%before%' |
                              (H1 %like% '%before%' & KEY %like% '%diluted%'))) %>%
    collect() %>%
    as.data.frame()

  if(nrow(t1) == 0){
    t2 <- equitiesIndiaNse$CorporateResults() %>%
      filter(REF_ID == rid & (KEY %like% '%diluted' | H1 %like% '%diluted%')) %>%
      as.data.frame()

    print(t2)
  } else {
    print(t1)
  }

}

[1] "the last 24 quarter EPS for SBIN: "
# A tibble: 24 x 3
     REF_ID PERIOD_END PERIOD
      <dbl> <chr>      <chr>
 1 -9.22e18 2019-06-30 First Quarter
 2 -9.22e18 2019-03-31 Fourth Quarter
 3 -9.22e18 2018-12-31 Third Quarter
 4 -9.22e18 2018-09-30 Second Quarter
 5 -9.22e18 2018-06-30 First Quarter
 6 -9.22e18 2018-03-31 Fourth Quarter
 7 -9.22e18 2017-12-31 Third Quarter
 8 -9.22e18 2017-09-30 Second Quarter
 9 -9.22e18 2017-06-30 First Quarter
10 -9.22e18 2017-03-31 Fourth Quarter
# … with 14 more rows
# A tibble: 1 x 3
    REF_ID PERIOD_END PERIOD
     <dbl> <chr>      <chr>
1 -9.22e18 2019-06-30 First Quarter
[1] REF_ID H1     H2     H3     H4     KEY    VALUE
<0 rows> (or 0-length row.names)
# A tibble: 1 x 3
    REF_ID PERIOD_END PERIOD
     <dbl> <chr>      <chr>
1 -9.22e18 2019-03-31 Fourth Quarter
                REF_ID
1 -9223372036854630400
                                                                 H1         KEY
1 Earnings per share (before extraordinary items) (not annualised): (b) Diluted
  VALUE
1   2.9
# A tibble: 1 x 3
    REF_ID PERIOD_END PERIOD
     <dbl> <chr>      <chr>
1 -9.22e18 2018-12-31 Third Quarter
                REF_ID
1 -9223372036854634496
                                                                 H1         KEY
1 Earnings per share (before extraordinary items) (not annualised): (b) Diluted
  VALUE
1  4.52
# A tibble: 1 x 3
    REF_ID PERIOD_END PERIOD
     <dbl> <chr>      <chr>
1 -9.22e18 2018-09-30 Second Quarter
                REF_ID
1 -9223372036854635520
                                                                 H1         KEY
1 Earnings per share (before extraordinary items) (not annualised): (b) Diluted
  VALUE
1 -0.52
# A tibble: 1 x 3
    REF_ID PERIOD_END PERIOD
     <dbl> <chr>      <chr>
1 -9.22e18 2018-06-30 First Quarter
                REF_ID
1 -9223372036854635520
                                                                 H1         KEY
1 Earnings per share (before extraordinary items) (not annualised): (b) Diluted
  VALUE
1 -0.52
# A tibble: 1 x 3
    REF_ID PERIOD_END PERIOD
     <dbl> <chr>      <chr>
1 -9.22e18 2018-03-31 Fourth Quarter
                REF_ID
1 -9223372036854639616
                                                                 H1         KEY
1 Earnings per share (before extraordinary items) (not annualised): (b) Diluted
  VALUE
1  0.38
# A tibble: 1 x 3
    REF_ID PERIOD_END PERIOD
     <dbl> <chr>      <chr>
1 -9.22e18 2017-12-31 Third Quarter
                REF_ID
1 -9223372036854649856
                                                                 H1         KEY
1 Earnings per share (before extraordinary items) (not annualised): (b) Diluted
  VALUE
1  0.18
# A tibble: 1 x 3
    REF_ID PERIOD_END PERIOD
     <dbl> <chr>      <chr>
1 -9.22e18 2017-09-30 Second Quarter
                REF_ID
1 -9223372036854652928
                                                                 H1         KEY
1 Earnings per share (before extraordinary items) (not annualised): (b) Diluted
  VALUE
1  2.56
# A tibble: 1 x 3
    REF_ID PERIOD_END PERIOD
     <dbl> <chr>      <chr>
1 -9.22e18 2017-06-30 First Quarter
                REF_ID
1 -9223372036854667264
                                                                 H1         KEY
1 Earnings per share (before extraordinary items) (not annualised): (b) Diluted
  VALUE
1  1.65
# A tibble: 1 x 3
    REF_ID PERIOD_END PERIOD
     <dbl> <chr>      <chr>
1 -9.22e18 2017-03-31 Fourth Quarter
[1] REF_ID H1     H2     H3     H4     KEY    VALUE
<0 rows> (or 0-length row.names)
# A tibble: 1 x 3
    REF_ID PERIOD_END PERIOD
     <dbl> <chr>      <chr>
1 -9.22e18 2016-12-31 Third Quarter
                REF_ID
1 -9223372036854674432
                                                                 H1         KEY
1 Earnings per share (before extraordinary items) (not annualised): (b) Diluted
  VALUE
1 -4.17
# A tibble: 1 x 3
    REF_ID PERIOD_END PERIOD
     <dbl> <chr>      <chr>
1 -9.22e18 2016-09-30 Second Quarter
                REF_ID
1 -9223372036854678528
                                                                 H1         KEY
1 Earnings per share (before extraordinary items) (not annualised): (b) Diluted
  VALUE
1 -0.03
# A tibble: 1 x 3
    REF_ID PERIOD_END PERIOD
     <dbl> <chr>      <chr>
1 -9.22e18 2016-06-30 First Quarter
                REF_ID                          H1
1 -9223372036854680576 PARTICULARS OF SHAREHOLDING
2 -9223372036854680576 PARTICULARS OF SHAREHOLDING
                                                                 H2         KEY
1 Earnings per share (before extraordinary items) (not annualised): (b) Diluted
2  Earnings per share (after extraordinary items) (not annualised): (b) Diluted
  VALUE
1  19.6
2  19.6
# A tibble: 1 x 3
    REF_ID PERIOD_END PERIOD
     <dbl> <chr>      <chr>
1 -9.22e18 2016-06-30 First Quarter
                REF_ID                          H1
1 -9223372036854680576 PARTICULARS OF SHAREHOLDING
2 -9223372036854680576 PARTICULARS OF SHAREHOLDING
                                                                 H2         KEY
1 Earnings per share (before extraordinary items) (not annualised): (b) Diluted
2  Earnings per share (after extraordinary items) (not annualised): (b) Diluted
  VALUE
1  19.6
2  19.6
# A tibble: 1 x 3
    REF_ID PERIOD_END PERIOD
     <dbl> <chr>      <chr>
1 -9.22e18 2016-03-31 Fourth Quarter
                REF_ID
1 -9223372036854687744
                                                                 H1         KEY
1 Earnings per share (before extraordinary items) (not annualised): (b) Diluted
  VALUE
1  0.13
# A tibble: 1 x 3
    REF_ID PERIOD_END PERIOD
     <dbl> <chr>      <chr>
1 -9.22e18 2015-12-31 Third Quarter
                REF_ID
1 -9223372036854691840
                                                                 H1         KEY
1 Earnings per share (before extraordinary items) (not annualised): (b) Diluted
  VALUE
1  0.03
# A tibble: 1 x 3
    REF_ID PERIOD_END PERIOD
     <dbl> <chr>      <chr>
1 -9.22e18 2015-09-30 Second Quarter
                REF_ID
1 -9223372036854693888
                                                                 H1         KEY
1 Earnings per share (before extraordinary items) (not annualised): (b) Diluted
  VALUE
1 -8.09
# A tibble: 1 x 3
    REF_ID PERIOD_END PERIOD
     <dbl> <chr>      <chr>
1 -9.22e18 2015-06-30 First Quarter
                REF_ID
1 -9223372036854706176
                                                                 H1         KEY
1 Earnings per share (before extraordinary items) (not annualised): (b) Diluted
  VALUE
1 63.95
# A tibble: 1 x 3
    REF_ID PERIOD_END PERIOD
     <dbl> <chr>      <chr>
1 -9.22e18 2015-03-31 Fourth Quarter
                REF_ID
1 -9223372036854773760
                                                                 H1         KEY
1 Earnings per share (before extraordinary items) (not annualised): (b) Diluted
  VALUE
1   5.8
# A tibble: 1 x 3
    REF_ID PERIOD_END PERIOD
     <dbl> <chr>      <chr>
1 -9.22e18 2014-12-31 Third Quarter
                REF_ID
1 -9223372036854773760
                                                                 H1         KEY
1 Earnings per share (before extraordinary items) (not annualised): (b) Diluted
  VALUE
1   5.8
# A tibble: 1 x 3
    REF_ID PERIOD_END PERIOD
     <dbl> <chr>      <chr>
1 -9.22e18 2014-09-30 Second Quarter
                REF_ID
1 -9223372036854773760
                                                                 H1         KEY
1 Earnings per share (before extraordinary items) (not annualised): (b) Diluted
  VALUE
1   5.8
# A tibble: 1 x 3
    REF_ID PERIOD_END PERIOD
     <dbl> <chr>      <chr>
1 -9.22e18 2014-06-30 First Quarter
                REF_ID
1 -9223372036854773760
                                                                 H1         KEY
1 Earnings per share (before extraordinary items) (not annualised): (b) Diluted
  VALUE
1   5.8
# A tibble: 1 x 3
    REF_ID PERIOD_END PERIOD
     <dbl> <chr>      <chr>
1 -9.22e18 2014-03-31 Fourth Quarter
                REF_ID
1 -9223372036854773760
                                                                 H1         KEY
1 Earnings per share (before extraordinary items) (not annualised): (b) Diluted
  VALUE
1   5.8
# A tibble: 1 x 3
    REF_ID PERIOD_END PERIOD
     <dbl> <chr>      <chr>
1 -9.22e18 2013-12-31 Third Quarter
                REF_ID
1 -9223372036854773760
                                                                 H1         KEY
1 Earnings per share (before extraordinary items) (not annualised): (b) Diluted
  VALUE
1   5.8

This notebook was created using [pluto](http://pluto.studio). Learn more [here](https://github.com/shyams80/pluto)