In [1]:
library(DBI)
library(plutoDbR)
library(plutoR)
library(tidyverse)
options("scipen"=999)
source("/usr/share/pluto/config.R")

### get all series with the name 'India ' in it with the first and last dates for which time-series data are available

In [2]:
fred<-Fred()

In [3]:
indianFred <- fred$Meta() %>% inner_join(fred$TimeSeries(), by = 'SERIES_ID') %>%
    filter(NAME %like% '%India %') %>%
    group_by(SERIES_ID, TICKER, NAME) %>%
    summarize(MIN_TS = min(TIME_STAMP), MAX_TS = max(TIME_STAMP)) %>%
    select(SERIES_ID, TICKER, NAME, MIN_TS, MAX_TS)

print(data.frame(indianFred))

    SERIES_ID   TICKER
1 -2147478748  DEXINUS
2 -2147249690  INDRECD
3 -2147249689 INDRECDM
4 -2147249688 INDRECDP
                                                                                             NAME
1                                                              India / U.S. Foreign Exchange Rate
2 OECD based Recession Indicators for India from the Period following the Peak through the Trough
3                      OECD based Recession Indicators for India from the Peak through the Trough
4 OECD based Recession Indicators for India from the Peak through the Period preceding the Trough
      MIN_TS     MAX_TS
1 1973-01-02 2019-09-06
2 1996-05-01 2019-07-31
3 1996-05-01 2019-07-31
4 1996-05-01 2019-07-31

### get a sample of one of the time-series

In [4]:
fred$TimeSeries() %>% filter(SERIES_ID == -2147478748, TIME_STAMP >= as.Date('2019-01-01')) %>%
    arrange(desc(TIME_STAMP)) %>%
    head(5) %>%
    print()

# Source:     lazy query [?? x 3]
# Database:   NORWAY:StockVizUs:R
# Ordered by: desc(TIME_STAMP)
    SERIES_ID TIME_STAMP   VAL
        <int> <chr>      <dbl>
1 -2147478748 2019-09-06  71.7
2 -2147478748 2019-09-05  71.8
3 -2147478748 2019-09-04  72.1
4 -2147478748 2019-09-03  72.2
5 -2147478748 2019-08-30  71.4

This notebook was created using [pluto](https://pluto.studio). Thank you for playing fair!