In [1]:
library(dbplyr)
library(dplyr)
library(odbc)
library(plutoR)
options("scipen"=999)
source("config.R")

Attaching package: ‘dplyr’

The following objects are masked from ‘package:dbplyr’:

    ident, sql

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

### get all total-return NSE indices for the latest time_stamp

In [2]:
indices<-Indices()

In [3]:
maxDtNse <- (indices$NseTimeSeries() %>% summarize(MAX_TS = max(TIME_STAMP)) %>% collect())$MAX_TS[1]
indices$NseTimeSeries() %>%
     group_by(NAME) %>%
     filter(TIME_STAMP == maxDtNse && NAME %like% '% TR%') %>%
     select(NAME) %>%
     print(n = 10)

Warning message:
“Missing values are always removed in SQL.
Use `MAX(x, na.rm = TRUE)` to silence this warning
This warning is displayed only once per session.”

# Source:   lazy query [?? x 1]
# Database: Microsoft SQL Server 13.00.4224[ro1@NORWAY/StockViz]
# Groups:   NAME
   NAME
   <chr>
 1 NIFTY 100 TR
 2 NIFTY 200 TR
 3 NIFTY 50 TR
 4 NIFTY 500 TR
 5 NIFTY ADITYA BIRLA GROUP TR
 6 NIFTY ALPHA 50 TR
 7 NIFTY ALPHA LOW-VOLATILITY 30 TR
 8 NIFTY ALPHA QUALITY LOW-VOLATILITY 30 TR
 9 NIFTY ALPHA QUALITY VALUE LOW-VOLATILITY 30 TR
10 NIFTY AUTO TR
# … with more rows

## get start and end dates for all total-return NSE indices

In [4]:
indices$NseTimeSeries() %>%
     group_by(NAME) %>%
     filter(NAME %like% '% TR%') %>%
     summarize(ST=min(TIME_STAMP), ET=max(TIME_STAMP)) %>%
     print(n = Inf)

Warning message:
“Missing values are always removed in SQL.
Use `MIN(x, na.rm = TRUE)` to silence this warning
This warning is displayed only once per session.”

# Source:   lazy query [?? x 3]
# Database: Microsoft SQL Server 13.00.4224[ro1@NORWAY/StockViz]
   NAME                                           ST         ET
   <chr>                                          <date>     <date>
 1 NIFTY 100 TR                                   2003-01-01 2019-06-21
 2 NIFTY 200 TR                                   2004-01-01 2019-06-21
 3 NIFTY 50 FUTURES TR INDEX                      2005-04-01 2019-06-20
 4 NIFTY 50 TR                                    1999-06-30 2019-06-21
 5 NIFTY 500 TR                                   1998-11-26 2019-06-21
 6 NIFTY ADITYA BIRLA GROUP TR                    2005-04-01 2019-06-21
 7 NIFTY ALPHA 50 TR                              2003-12-31 2019-06-21
 8 NIFTY ALPHA LOW-VOLATILITY 30 TR               2005-04-01 2019-06-21
 9 NIFTY ALPHA QUALITY LOW-VOLATILITY 30 TR       2005-04-01 2019-06-21
10 NIFTY ALPHA QUALITY VALUE LOW-VOLATILITY 30 TR 2005-04-01 2019-06-21
11 NIFTY AUTO TR                                  2004-01-01 2019-06-21
12 NIFTY BANK TR                                  2000-01-01 2019-06-21
13 NIFTY COMMODITIES TR                           2012-02-14 2019-06-21
14 NIFTY CPSE TR                                  2009-01-01 2019-06-21
15 NIFTY DIVIDEND OPPORTUNITIES 50 TR             2007-10-01 2019-06-21
16 NIFTY ENERGY TR                                2001-01-01 2019-06-21
17 NIFTY FINANCIAL SERVICES TR                    2004-01-01 2019-06-21
18 NIFTY FMCG TR                                  1998-11-26 2019-06-21
19 NIFTY FREE FLOAT MIDCAP 100 TR                 2017-06-05 2018-03-28
20 NIFTY FREE FLOAT SMALLCAP 100 TR               2017-06-05 2018-03-28
21 NIFTY FULL MIDCAP 100 TR                       2005-04-01 2018-03-28
22 NIFTY FULL SMALLCAP 100 TR                     2005-04-01 2018-03-28
23 NIFTY GROWTH SECTORS 15 TR                     2009-01-01 2019-06-21
24 NIFTY HIGH BETA 50 TR                          2003-12-31 2019-06-21
25 NIFTY INDIA CONSUMPTION TR                     2012-02-14 2019-06-21
26 NIFTY INFRASTRUCTURE TR                        2004-01-01 2019-06-21
27 NIFTY IT TR                                    1999-06-30 2019-06-21
28 NIFTY LARGEMIDCAP 250 TR                       2005-04-01 2019-06-21
29 NIFTY LOW VOLATILITY 50 TR                     2003-12-31 2019-06-21
30 NIFTY MAHINDRA GROUP TR                        2005-04-01 2019-06-21
31 NIFTY MEDIA TR                                 2005-12-30 2019-06-21
32 NIFTY METAL TR                                 2013-07-12 2019-06-21
33 NIFTY MIDCAP 100 TR                            2003-01-01 2019-06-21
34 NIFTY MIDCAP 150 TR                            2005-04-01 2019-06-21
35 NIFTY MIDCAP 50 TR                             2004-01-01 2019-06-21
36 NIFTY MIDCAP LIQUID 15 TR                      2009-01-01 2019-06-21
37 NIFTY MIDSMALLCAP 400 TR                       2005-04-01 2019-06-21
38 NIFTY MNC TR                                   1998-11-26 2019-06-21
39 NIFTY NEXT 50 TR                               2002-11-08 2019-06-21
40 NIFTY PHARMA TR                                2001-01-01 2019-06-21
41 NIFTY PRIVATE BANK TR                          2005-04-01 2019-06-21
42 NIFTY PSE TR                                   2000-01-03 2019-06-21
43 NIFTY PSU BANK TR                              2004-01-01 2019-06-21
44 NIFTY QUALITY 30 TR                            2017-06-05 2018-07-13
45 NIFTY QUALITY LOW-VOLATILITY 30 TR             2005-04-01 2019-06-21
46 NIFTY REALTY TR                                2006-12-29 2019-06-21
47 NIFTY SERVICES SECTOR TR                       1999-06-01 2019-06-21
48 NIFTY SHARIAH 25 TR                            2009-01-01 2019-06-21
49 NIFTY SMALLCAP 100 TR                          2004-01-01 2019-06-21
50 NIFTY SMALLCAP 250 TR                          2005-04-01 2019-06-21
51 NIFTY SMALLCAP 50 TR                           2005-04-01 2019-06-21
52 NIFTY SME EMERGE TR                            2016-12-01 2019-06-21
53 NIFTY TATA GROUP 25% CAP TR                    2005-04-01 2019-06-21
54 NIFTY TATA GROUP TR                            2005-04-01 2019-06-21
55 NIFTY TR 1X INV                                2009-04-02 2015-11-06
56 NIFTY TR 2X LEV                                2009-04-02 2015-11-06
57 NIFTY100 ENHANCED ESG TR                       2011-04-01 2019-06-21
58 NIFTY100 EQUAL WEIGHT TR                       2003-01-01 2019-06-21
59 NIFTY100 ESG TR                                2011-04-01 2019-06-21
60 NIFTY100 LIQUID 15 TR                          2011-01-03 2019-06-21
61 NIFTY100 LOW VOLATILITY 30 TR                  2005-04-01 2019-06-21
62 NIFTY100 QUALITY 30 TR                         2018-07-16 2019-06-21
63 NIFTY200 QUALITY 30 INDEX TR                   2018-04-09 2018-04-16
64 NIFTY200 QUALITY 30 TR                         2005-04-01 2019-06-21
65 NIFTY50 EQUAL WEIGHT TR                        1995-11-03 2019-06-21
66 NIFTY50 SHARIAH TR                             2006-12-29 2019-06-21
67 NIFTY50 TR 1X INV                              2009-04-02 2019-06-21
68 NIFTY50 TR 2X LEV                              2009-04-02 2019-06-21
69 NIFTY50 VALUE 20 TR                            2009-01-01 2019-06-21
70 NIFTY500 SHARIAH TR                            2006-12-29 2019-06-21
71 NIFTY500 VALUE 50 INDEX TR                     2018-10-15 2018-10-23
72 NIFTY500 VALUE 50 TR                           2005-04-01 2019-06-21

### get all BSE indices for the latest time_stamp

In [5]:
maxDtBse <- (indices$BseTimeSeries() %>% summarize(MAX_TS = max(TIME_STAMP)) %>% collect())$MAX_TS[1]
indices$BseTimeSeries() %>%
     group_by(NAME) %>%
     filter(TIME_STAMP == maxDtBse) %>%
     select(NAME) %>%
     print(n = Inf)

# Source:   lazy query [?? x 1]
# Database: Microsoft SQL Server 13.00.4224[ro1@NORWAY/StockViz]
# Groups:   NAME
   NAME
   <chr>
 1 BSE100
 2 BSE200
 3 BSE500
 4 BSEMID
 5 BSESML
 6 CARBON
 7 CPSE
 8 DOL100
 9 DOLL30
10 DOLLEX
11 GREENX
12 INFRA
13 IPO
14 SENSEX
15 SI0200
16 SI0400
17 SI0600
18 SI0800
19 SI1000
20 SI1200
21 SI1400
22 SI1900
23 SIBANK
24 SIBPSU
25 SIBTEC
26 SIPOWE
27 SIREAL
28 SMEIPO
29 SPB15MIP
30 SPB1LTIP
31 SPB25SIP
32 SPB25XIP
33 SPB2MXIP
34 SPB40YIP
35 SPBDISBT
36 SPBIMIP
37 SPBMDSIP
38 SPBN5TIP
39 SPBS1E
40 SPBS5TIP
41 SPBSAIP
42 SPBSB2IP
43 SPBSBMIP
44 SPBSCDIP
45 SPBSDFIP
46 SPBSDSIP
47 SPBSE5S
48 SPBSENIP
49 SPBSEVIP
50 SPBSFIIP
51 SPBSIDIP
52 SPBSLIP
53 SPBSLMIP
54 SPBSLVIP
55 SPBSMOIP
56 SPBSMSIP
57 SPBSN5IP
58 SPBSPBIP
59 SPBSQIP
60 SPBSS5IP
61 SPBSSSIP
62 SPBSTLIP
63 SPBSUTIP
64 SPICBLOT