# Using the Indices data-set

The python version of this sample can be found [here](https://github.com/shyams80/plutons/blob/master/docs-py/Indices.ipynb)

In [1]:
library(dbplyr)
library(dplyr)
library(odbc)
library(plutoR)
options("scipen"=999)
source("config.R")

indices<-Indices()

Attaching package: ‘dplyr’

The following objects are masked from ‘package:dbplyr’:

    ident, sql

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

### fetch the last 10 day India VIX levels

In [2]:
startDate <- Sys.Date() - 10
indices$IndiaVixTimeSeries() %>%
  filter(TIME_STAMP >= startDate) %>%
  arrange(TIME_STAMP) %>%
  print(n=Inf)

# Source:     lazy query [?? x 5]
# Database:   Microsoft SQL Server 13.00.4259[ro1@NORWAY/StockViz]
# Ordered by: TIME_STAMP
  TIME_STAMP  HIGH   LOW  OPEN CLOSE
  <date>     <dbl> <dbl> <dbl> <dbl>
1 2019-08-19  17.0  14.7  16.6  16.7
2 2019-08-20  17.1  15.1  16.7  16.6
3 2019-08-21  17.3  14    16.6  17.0
4 2019-08-22  18.1  14.5  17.0  17.9
5 2019-08-23  18.3  13.7  17.9  17.3
6 2019-08-26  19.1  13.7  17.3  16.7

### fetch the latest rates across tenors

In [3]:
maxDt <- (indices$IndiaGsecTimeSeries() %>%
    summarize(MAX_TS = max(TIME_STAMP)) %>%
    collect())$MAX_TS[1]

indices$IndiaGsecTimeSeries() %>%
    filter(TIME_STAMP == maxDt) %>%
    arrange(NAME) %>%
    print()

Warning message:
“Missing values are always removed in SQL.
Use `MAX(x, na.rm = TRUE)` to silence this warning
This warning is displayed only once per session.”

# Source:     lazy query [?? x 7]
# Database:   Microsoft SQL Server 13.00.4259[ro1@NORWAY/StockViz]
# Ordered by: NAME
  NAME  TIME_STAMP   TRI   PRI COUPON   YTM DURATION
  <chr> <date>     <dbl> <dbl>  <dbl> <dbl>    <dbl>
1 0_5   2019-08-26 2965.  842.   7.89  6.07     2.85
2 10_15 2019-08-26 2957.  908.   7.82  6.84     8.02
3 15_20 2019-08-26 2956.  899.   7.69  6.91     9.50
4 20_30 2019-08-26 2973.  894.   8.07  6.97    11.6
5 5_10  2019-08-26 2974.  866.   7.81  6.61     5.66

### get all total-return NSE indices for the latest time_stamp

In [4]:
maxDtNse <- (indices$NseTimeSeries() %>% summarize(MAX_TS = max(TIME_STAMP)) %>% collect())$MAX_TS[1]
indices$NseTimeSeries() %>%
     group_by(NAME) %>%
     filter(TIME_STAMP == maxDtNse && NAME %like% '% TR%') %>%
     select(NAME) %>%
     print(n = 10)

# Source:   lazy query [?? x 1]
# Database: Microsoft SQL Server 13.00.4259[ro1@NORWAY/StockViz]
# Groups:   NAME
   NAME
   <chr>
 1 NIFTY 100 TR
 2 NIFTY 200 TR
 3 NIFTY 50 TR
 4 NIFTY 500 TR
 5 NIFTY ADITYA BIRLA GROUP TR
 6 NIFTY ALPHA 50 TR
 7 NIFTY ALPHA LOW-VOLATILITY 30 TR
 8 NIFTY ALPHA QUALITY LOW-VOLATILITY 30 TR
 9 NIFTY ALPHA QUALITY VALUE LOW-VOLATILITY 30 TR
10 NIFTY AUTO TR
# … with more rows

## get start and end dates for all total-return NSE indices

In [5]:
indices$NseTimeSeries() %>%
     group_by(NAME) %>%
     filter(NAME %like% '% TR%') %>%
     summarize(ST=min(TIME_STAMP), ET=max(TIME_STAMP)) %>%
     print(n = 10)

Warning message:
“Missing values are always removed in SQL.
Use `MIN(x, na.rm = TRUE)` to silence this warning
This warning is displayed only once per session.”

# Source:   lazy query [?? x 3]
# Database: Microsoft SQL Server 13.00.4259[ro1@NORWAY/StockViz]
   NAME                                           ST         ET
   <chr>                                          <date>     <date>
 1 NIFTY 100 TR                                   2003-01-01 2019-08-26
 2 NIFTY 200 TR                                   2004-01-01 2019-08-26
 3 NIFTY 50 FUTURES TR INDEX                      2005-04-01 2019-08-23
 4 NIFTY 50 TR                                    1999-06-30 2019-08-26
 5 NIFTY 500 TR                                   1998-11-26 2019-08-26
 6 NIFTY ADITYA BIRLA GROUP TR                    2005-04-01 2019-08-26
 7 NIFTY ALPHA 50 TR                              2003-12-31 2019-08-26
 8 NIFTY ALPHA LOW-VOLATILITY 30 TR               2005-04-01 2019-08-26
 9 NIFTY ALPHA QUALITY LOW-VOLATILITY 30 TR       2005-04-01 2019-08-26
10 NIFTY ALPHA QUALITY VALUE LOW-VOLATILITY 30 TR 2005-04-01 2019-08-26
# … with more rows

### get all BSE indices for the latest time_stamp

In [6]:
maxDtBse <- (indices$BseTimeSeries() %>% summarize(MAX_TS = max(TIME_STAMP)) %>% collect())$MAX_TS[1]
indices$BseTimeSeries() %>%
     group_by(NAME) %>%
     filter(TIME_STAMP == maxDtBse) %>%
     select(NAME) %>%
     print(n = 10)

# Source:   lazy query [?? x 1]
# Database: Microsoft SQL Server 13.00.4259[ro1@NORWAY/StockViz]
# Groups:   NAME
   NAME
   <chr>
 1 BSE100
 2 BSE200
 3 BSE500
 4 BSEMID
 5 BSESML
 6 CARBON
 7 CPSE
 8 DOL100
 9 DOLL30
10 DOLLEX
# … with more rows

### fetch the latest NSE NIFTY 50 constituents

In [7]:
maxDt <- (indices$NseConstituents() %>%
          filter(NAME == "NIFTY 50") %>%
          summarize(MAX_TS = max(TIME_STAMP)) %>% 
          collect())$MAX_TS[1]

indices$NseConstituents() %>%
     filter(TIME_STAMP == maxDt & NAME == "NIFTY 50") %>%
     print(n = 10)

# Source:   lazy query [?? x 5]
# Database: Microsoft SQL Server 13.00.4259[ro1@NORWAY/StockViz]
   NAME     TIME_STAMP SYMBOL     INDUSTRY           CAP_WEIGHT
   <chr>    <date>     <chr>      <chr>                   <dbl>
 1 NIFTY 50 2019-08-26 ADANIPORTS SERVICES                0.643
 2 NIFTY 50 2019-08-26 ASIANPAINT CONSUMER GOODS          1.56
 3 NIFTY 50 2019-08-26 AXISBANK   FINANCIAL SERVICES      3.09
 4 NIFTY 50 2019-08-26 BAJAJ-AUTO AUTOMOBILE              0.768
 5 NIFTY 50 2019-08-26 BAJAJFINSV FINANCIAL SERVICES      0.966
 6 NIFTY 50 2019-08-26 BAJFINANCE FINANCIAL SERVICES      1.73
 7 NIFTY 50 2019-08-26 BHARTIARTL TELECOM                 1.49
 8 NIFTY 50 2019-08-26 BPCL       ENERGY                  0.609
 9 NIFTY 50 2019-08-26 BRITANNIA  CONSUMER GOODS          0.668
10 NIFTY 50 2019-08-26 CIPLA      PHARMA                  0.563
# … with more rows

### fetch the latest BSE SENSEX constituents

In [8]:
maxDt <- (indices$BseConstituents() %>%
          filter(NAME == "sp bse sensex") %>%
          summarize(MAX_TS = max(TIME_STAMP)) %>% 
          collect())$MAX_TS[1]

indices$BseConstituents() %>%
     filter(TIME_STAMP == maxDt & NAME == "sp bse sensex") %>%
     print(n = 10)

# Source:   lazy query [?? x 5]
# Database: Microsoft SQL Server 13.00.4259[ro1@NORWAY/StockViz]
   NAME          TIME_STAMP   CODE SYMBOL     SECURITY_NAME
   <chr>         <date>      <int> <chr>      <chr>
 1 sp bse sensex 2019-07-01 500010 HDFC       Housing Development Finance Corp
 2 sp bse sensex 2019-07-01 500034 BAJFINANCE Bajaj Finance Ltd
 3 sp bse sensex 2019-07-01 500112 SBIN       State Bank of India
 4 sp bse sensex 2019-07-01 500180 HDFCBANK   HDFC Bank Ltd
 5 sp bse sensex 2019-07-01 500182 HEROMOTOCO Hero MotoCorp Ltd
 6 sp bse sensex 2019-07-01 500209 INFY       Infosys Ltd
 7 sp bse sensex 2019-07-01 500247 KOTAKBANK  Kotak Mahindra Bank Ltd
 8 sp bse sensex 2019-07-01 500295 VEDL       Vedanta Ltd
 9 sp bse sensex 2019-07-01 500312 ONGC       Oil & Natural Gas Corp Ltd
10 sp bse sensex 2019-07-01 500325 RELIANCE   Reliance Industries Ltd
# … with more rows

### fetch index date ranges published on yahoo finance

In [9]:
indices$YahooFinanceTimeSeries() %>%
    group_by(NAME) %>%
    summarize(ST = min(TIME_STAMP), ET = max(TIME_STAMP)) %>%
    arrange(NAME) %>%
    print(n=Inf)

# Source:     lazy query [?? x 3]
# Database:   Microsoft SQL Server 13.00.4259[ro1@NORWAY/StockVizUs2]
# Ordered by: NAME
  NAME  ST         ET
  <chr> <date>     <date>
1 ^GSPC 1950-01-03 2019-08-09
2 ^MID  1981-01-02 2019-08-09
3 ^N225 1965-01-05 2019-08-09
4 ^NDX  1985-10-01 2019-08-09
5 ^RAG  2002-09-30 2019-08-09
6 ^RAV  2002-09-30 2019-08-09
7 ^RUA  1987-09-10 2019-08-09
8 ^RUT  1987-09-10 2019-08-09
9 ^VIX  1990-01-02 2019-08-09

### fetch index date ranges published by Barclays

In [10]:
indices$BarclaysMeta() %>%
  inner_join(indices$BarclaysTimeSeries()) %>%
  group_by(FAMILY, NAME) %>%
  summarize(ST = min(TIME_STAMP), ET = max(TIME_STAMP)) %>%
  select(FAMILY, NAME, ST, ET) %>%
  arrange(FAMILY) %>%
  print(n = Inf)

Joining, by = "TICKER"

# Source:     lazy query [?? x 4]
# Database:   Microsoft SQL Server 13.00.4259[ro1@NORWAY/StockVizUs2]
# Groups:     FAMILY
# Ordered by: FAMILY
    FAMILY              NAME                               ST         ET
    <chr>               <chr>                              <date>     <date>
  1 ARMOUR              Barclays ARMOUR CHF 10% Index      2012-11-30 2019-08-23
  2 ARMOUR              Barclays ARMOUR CHF 7% Index       1998-12-30 2019-08-23
  3 ARMOUR              Barclays ARMOUR CHF Index          2012-07-31 2019-08-23
  4 ARMOUR              Barclays ARMOUR EUR 10% Index      2012-11-30 2019-08-23
  5 ARMOUR              Barclays ARMOUR EUR 7% Index       2012-11-30 2019-08-23
  6 ARMOUR              Barclays ARMOUR EUR Index          2012-07-31 2019-08-23
  7 ARMOUR              Barclays ARMOUR II Gross USD 5% E… 2001-12-31 2019-08-23
  8 ARMOUR              Barclays ARMOUR II Gross USD 5% T… 2001-12-31 2019-08-23
  9 ARMOUR              Barclays ARMOUR II Gross USD 7% E… 2001-12-31 2019-08-23
 10 ARMOUR              Barclays ARMOUR II Gross USD 7% T… 2001-12-31 2019-08-23
 11 ARMOUR              Barclays ARMOUR II Gross USD Exce… 2001-12-31 2019-08-23
 12 ARMOUR              Barclays ARMOUR II Gross USD Tota… 2001-12-31 2019-08-23
 13 ARMOUR              Barclays ARMOUR USD 7% Index       2012-11-30 2019-08-23
 14 ARMOUR              Barclays ARMOUR USD Index          2012-07-31 2019-08-23
 15 Backwardation       Backwardation Long Short Ex Ags &… 2010-01-08 2019-08-23
 16 Backwardation       Backwardation Long Short Ex Ags &… 2010-01-08 2019-08-23
 17 Backwardation       Backwardation Long Short Ex Ags &… 2010-01-08 2019-08-23
 18 Backwardation       Barclays Backwardation Alpha Bloo… 2000-01-07 2019-08-23
 19 Backwardation       Barclays Backwardation Alpha Bloo… 2000-01-07 2019-08-23
 20 Backwardation       Barclays Backwardation Index ER    1999-01-08 2019-08-23
 21 Backwardation       Barclays Backwardation Long Short… 1999-01-08 2019-08-23
 22 Backwardation       Barclays Backwardation Long Short… 1999-01-08 2019-08-23
 23 Benchmark Cash      Barclays 3 month T Bill            1990-12-31 2019-08-23
 24 Benchmark Cash      Barclays 3 month USD LIBOR Cash I… 1998-12-31 2019-08-23
 25 Benchmark Cash      Barclays Benchmark JPY Overnight … 1998-01-01 2019-08-24
 26 Benchmark Cash      Barclays Benchmark Overnight EUR … 1999-01-04 2019-08-24
 27 Benchmark Cash      Barclays Benchmark Overnight GBP … 1999-01-04 2019-08-23
 28 Benchmark Cash      Barclays Benchmark Overnight USD … 1997-01-04 2019-08-23
 29 Benchmark Cash      Barclays EU Benchmark Overnight I… 1999-01-04 2019-08-24
 30 Benchmark Cash      Barclays EUR Overnight Index       1999-01-04 2019-08-24
 31 Benchmark Cash      Barclays GB Benchmark Overnight I… 1998-01-02 2019-08-24
 32 Benchmark Cash      Barclays US 3 Month Libor cash in… 1999-01-04 2019-08-23
 33 Benchmark Cash      Barclays US Benchmark Overnight I… 1998-01-02 2019-08-24
 34 Benchmark Cash      Barclays Yen Overnight Index       2001-01-02 2019-08-24
 35 Bond Futures        Barclays 30 Year Treasury futures… 1997-01-15 2019-08-23
 36 Bond Futures        Barclays US 10yr Note Futures Alt… 2013-05-29 2019-08-23
 37 Bond Futures        Barclays US 10yr Note Futures II … 1997-01-15 2019-08-23
 38 Bond Futures        Barclays US 10yr Note Futures Ind… 1997-01-15 2019-08-23
 39 Bond Futures        Barclays US 2yr Treasury Futures … 1997-01-15 2019-08-23
 40 Bond Futures        Barclays US 5yr Treasury Futures … 1997-01-15 2019-08-23
 41 Bond Futures        Barclays US Long Bond Futures Alt… 2013-05-29 2019-08-23
 42 Chips               Barclays Black Chips PR GBP Index  2005-07-19 2019-05-29
 43 Chips               Barclays Black Chips PR USD Index  2005-07-19 2019-05-29
 44 Chips               Barclays Green Chips TR USD Index  2005-09-12 2019-08-23
 45 Chips               Barclays Grey Chips ER USD Index   2005-09-12 2019-05-29
 46 Chips               Barclays Grey Chips PR USD Index   2005-09-12 2019-05-29
 47 Chips               Barclays Grey Chips Risk Controll… 2005-11-18 2019-05-29
 48 Chips               Barclays Grey Chips TR USD Index   2005-09-12 2019-05-29
 49 CIBC Atlas          CIBC Atlas Select MLP Index        2011-07-08 2019-08-23
 50 Colony REIT         Colony Capital Fundamental US Rea… 2003-11-28 2019-08-23
 51 Colony REIT         Colony Capital Fundamental US Rea… 2003-11-28 2019-08-23
 52 Colony REIT         Colony Capital Fundamental US Rea… 2003-11-28 2019-08-23
 53 ComBATS             Barclays ComBATS 12 ER             2000-01-31 2019-08-23
 54 ComBATS             Barclays ComBATS 12 TR             2000-01-31 2019-08-23
 55 ComBATS             Barclays ComBATS 6                 2000-01-31 2019-08-23
 56 CPCI                Barclays CPCI - 6 VA AUD Excess R… 2002-01-09 2019-08-23
 57 CPCI                Barclays CPCI - 6 VA EUR Excess R… 2002-01-09 2019-08-23
 58 CPCI                Barclays CPCI - 6 VA JPY Excess R… 2002-01-09 2019-08-23
 59 CPCI                Barclays CPCI - 6 VA USD Excess R… 2002-01-09 2019-08-23
 60 CPCI                Barclays TM-Commodity Producers C… 2008-05-07 2019-08-23
 61 Dynamic Curve       Barclays Commodity Curve ExAgs an… 2006-01-13 2019-08-23
 62 Equity Compass Buy… Barclays EquityCompass Share Buyb… 2011-11-07 2019-06-06
 63 Equity Low Vol      Barclays Eurozone Low Volatility … 2004-10-18 2019-08-23
 64 Equity Low Vol      Barclays Eurozone Low Volatility … 2004-10-11 2019-08-23
 65 Equity Low Vol      Barclays Eurozone Low Volatility … 2004-10-11 2019-08-23
 66 Equity Low Vol      Barclays Eurozone Low Volatility … 2004-10-11 2019-08-23
 67 Equity Low Vol      Barclays Eurozone Low Volatility … 2004-10-18 2019-08-23
 68 Equity Low Vol      Barclays Eurozone Low Volatility … 2004-10-18 2019-08-23
 69 Equity Low Vol      Barclays Japan Low Volatility Equ… 2005-07-11 2019-08-23
 70 Equity Low Vol      Barclays Japan Low Volatility Equ… 2005-07-11 2019-08-23
 71 Equity Low Vol      Barclays Japan Low Volatility Equ… 2005-07-11 2019-08-23
 72 Equity Low Vol      Barclays Japan Low Volatility II … 2005-07-19 2019-08-23
 73 Equity Low Vol      Barclays Japan Low Volatility II … 2005-07-19 2019-08-23
 74 Equity Low Vol      Barclays Low Volatility 5 Index    2003-03-31 2019-08-23
 75 Equity Low Vol      Barclays UK Low Volatility Equity… 2004-10-11 2019-08-23
 76 Equity Low Vol      Barclays UK Low Volatility Equity… 2004-10-11 2019-08-23
 77 Equity Low Vol      Barclays UK Low Volatility Equity… 2004-10-11 2019-08-23
 78 Equity Low Vol      Barclays US Low Volatility 50 Equ… 2002-12-02 2019-08-23
 79 Equity Low Vol      Barclays US Low Volatility Equity… 2002-12-09 2019-08-23
 80 Equity Low Vol      Barclays US Low Volatility Equity… 2002-12-09 2019-08-23
 81 Equity Low Vol      Barclays US Low Volatility Equity… 2002-12-09 2019-08-23
 82 Equity Low Vol      Barclays US Low Volatility II Equ… 2002-12-02 2019-08-23
 83 Equity Low Vol      Barclays US Low Volatility II Equ… 2002-12-02 2019-08-23
 84 Equity Low Vol      Barclays US Low Volatility II ER … 2003-01-31 2019-08-23
 85 Equity Low Vol      Barclays US Low Volatility II ER … 2003-01-31 2019-08-23
 86 Equity Momentum     Barclays Eurozone Momentum Equity… 2004-10-18 2019-08-23
 87 Equity Momentum     Barclays Eurozone Momentum Equity… 2004-10-18 2019-08-23
 88 Equity Momentum     Barclays Eurozone Momentum Equity… 2004-10-18 2019-08-23
 89 Equity Momentum     Barclays Japan Momentum Equity ER… 2005-07-19 2019-08-23
 90 Equity Momentum     Barclays Japan Momentum Equity PR… 2005-07-19 2019-08-23
 91 Equity Momentum     Barclays Japan Momentum Equity TR… 2005-07-19 2019-08-23
 92 Equity Momentum     Barclays UK Momentum Equity ER GB… 2004-10-18 2019-08-23
 93 Equity Momentum     Barclays UK Momentum Equity PR GB… 2004-10-18 2019-08-23
 94 Equity Momentum     Barclays UK Momentum Equity TR GB… 2004-10-18 2019-08-23
 95 Equity Momentum     Barclays US Momentum Equity ER US… 2002-12-16 2019-08-23
 96 Equity Momentum     Barclays US Momentum Equity PR US… 2002-12-16 2019-08-23
 97 Equity Momentum     Barclays US Momentum Equity TR US… 2002-12-16 2019-08-23
 98 Equity Quality      Barclays Eurozone Quality Equity … 2004-12-13 2019-08-23
 99 Equity Quality      Barclays Eurozone Quality Equity … 2004-12-13 2019-08-23
100 Equity Quality      Barclays Eurozone Quality Equity … 2004-12-13 2019-08-23
101 Equity Quality      Barclays Japan Quality Equity ER … 2005-08-22 2019-08-23
102 Equity Quality      Barclays Japan Quality Equity PR … 2005-08-22 2019-08-23
103 Equity Quality      Barclays Japan Quality Equity TR … 2005-08-22 2019-08-23
104 Equity Quality      Barclays UK Quality Equity ER GBP… 2004-12-13 2019-08-23
105 Equity Quality      Barclays UK Quality Equity PR GBP… 2004-12-13 2019-08-23
106 Equity Quality      Barclays UK Quality Equity TR GBP… 2004-12-13 2019-08-23
107 Equity Quality      Barclays US Quality Equity ER USD… 2002-11-20 2019-08-23
108 Equity Quality      Barclays US Quality Equity PR USD… 2002-11-20 2019-08-23
109 Equity Quality      Barclays US Quality Equity TR USD… 2002-11-20 2019-08-23
110 Equity Tracker      Barclays China HK  ER Tracker Ind… 2003-12-08 2019-08-23
111 Equity Tracker      Barclays China HK ER USD Tracker … 2003-12-08 2019-08-23
112 Equity Tracker      Barclays China HK Tracker Index    2003-12-08 2019-08-23
113 Equity Value        Barclays Eurozone Value Equity ER… 2004-12-13 2019-08-23
114 Equity Value        Barclays Eurozone Value Equity PR… 2004-12-13 2019-08-23
115 Equity Value        Barclays Eurozone Value Equity TR… 2004-12-13 2019-08-23
116 Equity Value        Barclays Japan Value Equity ER JP… 2005-08-22 2019-08-23
117 Equity Value        Barclays Japan Value Equity PR JP… 2005-08-22 2019-08-23
118 Equity Value        Barclays Japan Value Equity TR JP… 2005-08-22 2019-08-23
119 Equity Value        Barclays UK Value Equity ER GBP I… 2004-12-13 2019-08-23
120 Equity Value        Barclays UK Value Equity PR GBP I… 2004-12-13 2019-08-23
121 Equity Value        Barclays UK Value Equity TR GBP I… 2004-12-13 2019-08-23
122 Equity Value        Barclays US Mid Cap Value Equity … 2002-11-20 2019-08-23
123 Equity Value        Barclays US Mid Cap Value Equity … 2002-11-20 2019-08-23
124 Equity Value        Barclays US Mid Cap Value Equity … 2002-11-20 2019-08-23
125 Equity Value        Barclays US Value Equity ER USD I… 2002-11-20 2019-08-23
126 Equity Value        Barclays US Value Equity PR USD I… 2002-11-20 2019-08-23
127 Equity Value        Barclays US Value Equity TR USD I… 2002-11-20 2019-08-23
128 ERA                 Barclays Equal Risk Allocation In… 2002-06-28 2019-08-09
129 ERA                 Barclays Equal Risk Allocation In… 2002-06-28 2019-08-09
130 ERA                 Barclays Equal Risk Allocation In… 2002-06-28 2019-08-09
131 Focus50             Barclays Focus50 Index             2003-12-01 2019-08-23
132 FX Trend            Barclays Benchmark EM FX Trend Ex… 2002-01-25 2019-08-23
133 FX Trend            Barclays Benchmark G10 FX Trend E… 2002-01-25 2019-08-23
134 FX Trend            Barclays Benchmark Volatility-Adj… 2002-03-26 2019-08-23
135 FX Trend            Barclays Benchmark World FX Trend… 2002-01-25 2019-08-23
136 FX Trend            Barclays Investable Volatility-Ad… 2002-03-26 2019-08-23
137 FX Trend            Barclays Investable World FX Tren… 2002-01-25 2019-08-23
138 GEMS                Barclays ARS GEMS Excess Return I… 2001-07-16 2019-08-23
139 GEMS                Barclays BRL GEMS Excess Return I… 2001-07-16 2019-08-23
140 GEMS                Barclays CLP GEMS Excess Return I… 2001-07-16 2019-08-23
141 GEMS                Barclays COP GEMS Excess Return I… 2001-07-16 2019-08-23
142 GEMS                Barclays CZK GEMS Excess Return I… 2001-07-16 2019-08-23
143 GEMS                Barclays GEMS Asia-8 Index         2001-07-16 2019-08-23
144 GEMS                Barclays GEMS Asia-8 Spot Index    2001-07-16 2019-08-23
145 GEMS                Barclays GEMS EUR ER Index         2001-07-16 2019-08-23
146 GEMS                Barclays GEMS JPY ER Index         2001-07-16 2019-08-23
147 GEMS                Barclays GEMS Pegged Currency Ind… 2008-02-05 2019-08-23
148 GEMS                Barclays GEMS Pegged Currency Spo… 2008-02-05 2019-08-23
149 GEMS                Barclays GEMS USD ER Index         2001-07-16 2019-08-23
150 GEMS                Barclays GEMS USD Index            2001-07-16 2019-08-23
151 GEMS                Barclays GEMS USD Spot Index       2001-07-16 2019-08-23
152 GEMS                Barclays GEMS VA USD ER            2001-12-17 2019-08-23
153 GEMS                Barclays HUF GEMS Excess Return I… 2001-07-16 2019-08-23
154 GEMS                Barclays IDR GEMS Excess Return I… 2001-07-16 2019-08-23
155 GEMS                Barclays ILS GEMS Excess Return I… 2008-07-15 2019-08-23
156 GEMS                Barclays Investable GEMS Asia 8 V… 2001-12-17 2019-08-23
157 GEMS                Barclays KRW GEMS Excess Return I… 2001-07-16 2019-08-23
158 GEMS                Barclays MXN GEMS Excess Return I… 2001-07-16 2019-08-23
159 GEMS                Barclays MYR GEMS Excess Return I… 2001-07-16 2019-08-23
160 GEMS                Barclays PHP GEMS Excess Return I… 2001-07-16 2019-08-23
161 GEMS                Barclays PLN GEMS Excess Return I… 2001-07-16 2019-08-23
162 GEMS                Barclays Real Time GEMS Asia-8 In… 2001-07-16 2017-07-27
163 GEMS                Barclays Real Time GEMS Pegged Cu… 2008-02-05 2017-07-27
164 GEMS                Barclays Real Time GEMS USD Index  2001-07-16 2017-07-27
165 GEMS                Barclays RUB GEMS Excess Return I… 2001-07-16 2019-08-23
166 GEMS                Barclays THB GEMS Excess Return I… 2001-07-16 2019-08-23
167 GEMS                Barclays TRY GEMS Excess Return I… 2001-07-16 2019-08-23
168 GEMS                Barclays ZAR GEMS Excess Return I… 2001-07-16 2019-08-23
169 Hedging Insights    Barclays Commodity Strategy 1730 … 2003-02-03 2019-08-23
170 ICI                 Barclays Intelligent Carry EUR ER… 2000-01-17 2019-08-23
171 ICI                 Barclays Intelligent Carry EUR In… 2000-01-17 2019-08-23
172 ICI                 Barclays Intelligent Carry JPY     2011-12-15 2019-08-23
173 ICI                 Barclays Intelligent Carry USD     2000-01-17 2019-08-23
174 ICI                 Barclays Intelligent Carry USD ER… 2000-01-17 2019-08-23
175 ICI                 Barclays Optimized Currency Carry… 2000-01-17 2019-08-23
176 ICI                 Barclays Real Time Intelligent Ca… 2000-01-17 2017-07-27
177 Inverse US Treasur… Barclays Inverse US Treasury Futu… 1990-06-26 2019-08-23
178 LBAR/SBAR           Barclays LBAR USD Excess Return I… 1996-12-31 2018-07-27
179 Multi Strategy      Barclays Multi-Strategy Bloomberg… 1999-12-30 2019-08-23
180 Multi Strategy      Barclays Multi-Strategy Bloomberg… 1999-12-30 2019-08-23
181 Multi-Asset Sharpe  Barclays Multi Asset Sharpe Ratio… 2001-12-28 2019-08-23
182 Multi-Asset Sharpe  Barclays Multi Asset Sharpe Risk … 2005-02-09 2019-08-23
183 Multi-Asset Sharpe  Barclays Multi Asset Sharpe Risk … 2005-02-09 2019-08-23
184 Multi-Asset Sharpe  Barclays Multi Asset Sharpe Risk … 2005-02-09 2019-08-23
185 Multi-Asset Sharpe  Barclays Multi Asset Sharpe Risk … 2005-02-09 2019-08-23
186 Multi-Asset Sharpe  Barclays Multi Asset Sharpe Risk … 2005-02-09 2019-08-23
187 Multi-Asset Sharpe  Barclays Multi Asset Sharpe Risk … 2005-02-09 2019-08-23
188 Multi-Asset Sharpe  Barclays Multi Asset Sharpe Risk … 2005-02-09 2019-08-23
189 Multi-Asset Sharpe  Barclays Multi Asset Sharpe Risk … 2005-02-02 2019-08-23
190 Multi-Asset Sharpe  Barclays Multi Asset Sharpe Risk … 2008-02-04 2019-08-23
191 Multi-Asset Sharpe  Barclays Multi Asset Sharpe Risk … 2008-02-04 2019-08-23
192 Multi-Asset Sharpe  Barclays Multi Asset Sharpe Risk … 2008-02-04 2019-08-23
193 Multi-Asset Sharpe  Barclays Multi Asset Sharpe Risk … 2008-02-04 2019-08-23
194 Multi-Asset Sharpe  Barclays Multi Asset Sharpe Risk … 2008-02-04 2019-08-23
195 Multi-Asset Sharpe  Barclays Multi Asset Sharpe Risk … 2008-02-04 2019-08-23
196 Novus               Novus Barclays Public Ownership H… 2004-05-19 2019-08-23
197 Novus               Novus Barclays Public Ownership H… 2004-05-19 2019-08-23
198 Pure Beta           Barclays Commodity Index Pure Bet… 1999-12-31 2019-08-23
199 Pure Beta           Barclays Commodity Index Pure Bet… 1999-12-31 2019-08-23
200 Pure Beta           Barclays Pure Beta Bloomberg CI I… 1999-12-30 2019-08-23
201 Pure Beta           Barclays Pure Beta Bloomberg CI I… 1999-12-30 2019-08-23
202 Pure Beta Series 2  Barclays Composite 1 Pure Beta S2… 1999-12-30 2019-08-23
203 Pure Beta Series 2  Barclays Composite 1 Pure Beta S2… 1999-12-30 2019-08-23
204 Pure Beta Series 2  Barclays WTI Crude Pure Beta S2 TR 1999-12-30 2019-08-23
205 Q-GSP               Barclays Q-GSP Large Cap US Gross… 1999-12-31 2019-08-09
206 Q-GSP               Barclays Q-GSP Large Cap US Gross… 2000-03-31 2019-08-09
207 Q-GSP               Barclays Q-GSP US ER Index         1999-12-31 2019-08-09
208 Q-MA                Barclays Q-MA+ US ER Net USD       2005-01-03 2019-08-23
209 Q-MA                Barclays Q-MA+ US ER USD           2005-01-03 2019-08-23
210 Roubini             Roubini Barclays Country Insights… 2005-10-25 2019-08-23
211 Roubini             Roubini Barclays Country Insights… 2005-10-25 2019-08-23
212 Roubini             Roubini Barclays Country Insights… 2005-10-25 2019-08-23
213 Roubini             Roubini Barclays Country Insights… 2005-10-25 2019-08-23
214 Roubini             Roubini Barclays Country Insights… 2005-10-25 2019-08-23
215 Roubini             Roubini Barclays Country Insights… 2005-10-25 2019-08-23
216 Roubini             Roubini Barclays Country Insights… 2005-10-25 2019-08-23
217 Roubini             Roubini Barclays Country Insights… 2005-10-25 2019-08-23
218 Roubini             Roubini Barclays Country Insights… 2005-10-25 2019-08-23
219 Roubini             Roubini Barclays Country Insights… 2005-10-25 2019-08-23
220 Roubini             Roubini Barclays Country Insights… 2005-10-25 2019-08-23
221 Roubini             Roubini Barclays Country Insights… 2005-10-25 2019-08-23
222 Roubini             Roubini Barclays Country Insights… 2005-10-25 2019-08-23
223 Roubini             Roubini Barclays Country Insights… 2005-10-25 2019-08-23
224 Roubini             Roubini Barclays Country Insights… 2005-10-25 2019-08-23
225 Roubini             Roubini Barclays Country Insights… 2005-10-25 2019-08-23
226 Roubini             Roubini Barclays Country Insights… 2006-01-23 2019-08-23
227 Roubini             Roubini Barclays Country Insights… 2005-10-25 2019-08-23
228 Roubini             Roubini Barclays Country Insights… 2005-10-25 2019-08-23
229 Roubini             Roubini Barclays Country Insights… 2005-10-25 2019-08-23
230 Roubini             Roubini Barclays Country Insights… 2005-10-25 2019-08-23
231 Roubini             Roubini Barclays Country Insights… 2005-10-25 2019-08-23
232 Roubini             Roubini Barclays Country Insights… 2005-10-25 2019-08-23
233 SABER               Barclays Atlantic SABER in EUR In… 2002-01-08 2019-08-23
234 SABER               Barclays Atlantic SABER in USD In… 2002-01-08 2019-08-23
235 SABER               Barclays Atlantic SABER Index      2002-01-08 2019-08-23
236 SABER               Barclays EUR SABER Index           2002-01-08 2019-08-23
237 SABER               Barclays GBP SABER Index           2002-01-08 2019-08-23
238 SABER               Barclays Global SABER in EUR Index 1971-01-05 2019-08-23
239 SABER               Barclays Global SABER in USD Index 1971-01-05 2019-08-23
240 SABER               Barclays Global SABER in USD with… 1997-09-02 2019-08-23
241 SABER               Barclays Global SABER Index        2002-01-08 2019-08-23
242 SABER               Barclays JPY SABER Index           2002-01-08 2019-08-23
243 SABER               Barclays USD SABER Index           2002-01-08 2019-08-23

This notebook was created using [pluto](http://pluto.studio). Learn more [here](https://github.com/shyams80/pluto)