# Using NasdaqOmx Index data-set

The python version of this sample can be found [here](https://github.com/shyams80/plutons/blob/master/docs-py/NasdaqOmx.ipynb)

In [ ]:
library(dbplyr)
library(dplyr)
library(odbc)
library(plutoR)
options("scipen"=999)
source("config.R")

#initialize
nasdaqOmx <- NasdaqOmx()

In [ ]:
# fetch all "India" TR NASDAQOMX indices

nasdaqOmx$Meta() %>%
    inner_join(nasdaqOmx$TimeSeries()) %>%
    group_by(ID, NAME) %>%
    filter(NAME %like% '% india %') %>%
    summarize(ST = min(TIME_STAMP), ET = max(TIME_STAMP)) %>%
    print(n = Inf)

### plot total returns

This notebook was created using [pluto](http://pluto.studio). Learn more [here](https://github.com/shyams80/pluto)