In [1]:
# Using NasdaqOmx Index data-set

The python version of this sample can be found [here](https://github.com/shyams80/plutons/blob/master/docs-py/NasdaqOmx.ipynb)

ERROR: Error in parse(text = x, srcfile = src): <text>:3:5: unexpected symbol
2:
3: The python
       ^

In [2]:
library(dbplyr)
library(dplyr)
library(odbc)
library(plutoR)
options("scipen"=999)
source("config.R")

#initialize
nasdaqOmx <- NasdaqOmx()

Attaching package: ‘dplyr’

The following objects are masked from ‘package:dbplyr’:

    ident, sql

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [3]:
# fetch all "India" TR NASDAQOMX indices

nasdaqOmx$Meta() %>%
    inner_join(nasdaqOmx$TimeSeries) %>%
    group_by(NAME) %>%
    filter(NAME %like% '% india %') %>%
    summarize(ST = min(TIME_STAMP), ET = max(TIME_STAMP)) %>%
    print(n = Inf)

ERROR: Error in UseMethod("tbl_vars"): no applicable method for 'tbl_vars' applied to an object of class "c('refMethodDef', 'function', 'SuperClassMethod', 'OptionalFunction', 'PossibleMethod', 'functionOrNULL')"

This notebook was created using [pluto](http://pluto.studio). Learn more [here](https://github.com/shyams80/pluto)