In [1]:
library(dbplyr)
library(dplyr)
library(odbc)
library(plutoR)
options("scipen"=999)
source("config.R")

Attaching package: ‘dplyr’

The following objects are masked from ‘package:dbplyr’:

    ident, sql

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

### get all series with the name 'India ' in it with the first and last dates for which time-series data are available

In [2]:
fred<-Fred()

In [3]:
indianFred <- fred$Meta() %>% inner_join(fred$TimeSeries(), by = 'SERIES_ID') %>%
    filter(NAME %like% '%India %') %>%
    group_by(SERIES_ID, TICKER, NAME) %>%
    summarize(MIN_TS = min(TIME_STAMP), MAX_TS = max(TIME_STAMP)) %>%
    select(SERIES_ID, TICKER, NAME, MIN_TS, MAX_TS)

print(data.frame(indianFred))

Warning message:
“Missing values are always removed in SQL.
Use `MIN(x, na.rm = TRUE)` to silence this warning
This warning is displayed only once per session.”Warning message:
“Missing values are always removed in SQL.
Use `MAX(x, na.rm = TRUE)` to silence this warning
This warning is displayed only once per session.”

    SERIES_ID   TICKER
1 -2147478748  DEXINUS
2 -2147249690  INDRECD
3 -2147249689 INDRECDM
4 -2147249688 INDRECDP
                                                                                             NAME
1                                                              India / U.S. Foreign Exchange Rate
2 OECD based Recession Indicators for India from the Period following the Peak through the Trough
3                      OECD based Recession Indicators for India from the Peak through the Trough
4 OECD based Recession Indicators for India from the Peak through the Period preceding the Trough
      MIN_TS     MAX_TS
1 1973-01-02 2019-06-14
2 1996-05-01 2019-01-31
3 1996-05-01 2019-01-31
4 1996-05-01 2019-01-31

### get a sample of one of the time-series

In [4]:
fred$TimeSeries() %>% filter(SERIES_ID == -2147478748, TIME_STAMP >= as.Date('2019-01-01')) %>%
    arrange(desc(TIME_STAMP)) %>%
    head(5) %>%
    print()

# Source:     lazy query [?? x 3]
# Database:   Microsoft SQL Server 13.00.4224[ro1@NORWAY/StockVizUs]
# Ordered by: desc(TIME_STAMP)
    SERIES_ID TIME_STAMP   VAL
        <int> <date>     <dbl>
1 -2147478748 2019-06-14  69.8
2 -2147478748 2019-06-13  69.5
3 -2147478748 2019-06-12  69.4
4 -2147478748 2019-06-11  69.4
5 -2147478748 2019-06-10  69.5