# Using World Bank Global Economic Monitor Data-set

The R version of this sample can be found [here](https://github.com/shyams80/plutons/blob/master/docs-R/WorldBank.ipynb)

In [1]:
from sqlalchemy import func, and_
from plutoPy.model import RoutingSession, WorldBank

### fetch all India related meta data

In [2]:
results = (RoutingSession.session.query(WorldBank.Meta)
           .filter(WorldBank.Meta.COUNTRY_NAME == "India")).all()

print(f"fetched: {len(results)}")
for instance in results:
    print(instance)

fetched: 27
India/Exchange rate, new LCU per USD extended backward, period average: 135/14 ~ 1987 - 2018
India/Total Reserves: 135/37 ~ 1990 - 2017
India/CPI Price, % y-o-y, nominal, seas. adj.: 135/6 ~ 1987 - 2018
India/Stock Markets, LCU: 135/17 ~ 1990 - 2018
India/Foreign Reserves, Months Import Cover, Goods: 135/26 ~ 1991 - 2017
India/Real Effective Exchange Rate: 135/34 ~ 1994 - 2018
India/CPI Price, nominal: 135/3 ~ 1987 - 2018
India/Imports Merchandise, Customs, Price, US$, seas. adj.: 135/12 ~ 1991 - 2016
India/Nominal Effecive Exchange Rate: 135/29 ~ 1994 - 2018
India/Exports Merchandise, Customs, current US$, millions, seas. adj.: 135/21 ~ 1990 - 2017
India/Unemployment rate,Percent,,,: 135/38 ~ 2007 - 2016
India/Exchange rate, old LCU per USD extended forward, period average: 135/15 ~ 1987 - 2018
India/GDP,constant 2010 US$,millions,seas. adj.,: 135/32 ~ 1996 - 2018
India/Imports Merchandise, Customs, Price, US$: 135/9 ~ 1991 - 2016
India/Exports Merchandise, Customs, current US$, millions: 135/18 ~ 1990 - 2017
India/Official exchange rate, LCU per USD, period average: 135/13 ~ 1987 - 2018
India/GDP,current US$,millions,seas. adj.,: 135/30 ~ 1996 - 2018
India/Imports Merchandise, Customs, current US$, millions: 135/7 ~ 1990 - 2017
India/Stock Markets, US$: 135/16 ~ 1990 - 2018
India/Imports Merchandise, Customs, current US$, millions, seas. adj.: 135/10 ~ 1990 - 2017
India/GDP,constant 2010 LCU,millions,seas. adj.,: 135/33 ~ 1996 - 2018
India/Industrial Production, constant US$: 135/27 ~ 1991 - 2017
India/Industrial Production, constant US$, seas. adj.: 135/28 ~ 1991 - 2017
India/CPI Price, nominal, seas. adj.: 135/5 ~ 1987 - 2018
India/GDP,current LCU,millions,seas. adj.,: 135/31 ~ 1996 - 2018
India/Imports Merchandise, Customs, constant US$, millions: 135/8 ~ 1991 - 2015
India/Imports Merchandise, Customs, constant US$, millions, seas. adj.: 135/11 ~ 1991 - 2015

/usr/local/lib/python3.6/dist-packages/sqlalchemy/dialects/mssql/base.py:2307: SAWarning: Could not fetch transaction isolation level, tried views: ('sys.dm_exec_sessions', 'sys.dm_pdw_nodes_exec_sessions'); final error was: ('42S02', "[42S02] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Invalid object name 'sys.dm_pdw_nodes_exec_sessions'.")
  "tried views: %s; final error was: %s" % (views, last_error)

### fetch cpi inflation for India

In [3]:
results = (RoutingSession.session.query(WorldBank.TimeSeries)
           .filter(and_(WorldBank.TimeSeries.COUNTRY_KEY == 135, WorldBank.TimeSeries.INDICATOR_KEY == 6))
           .order_by(WorldBank.TimeSeries.YEAR)).all()
           
print(f"fetched: {len(results)}")
for instance in results:
    print(instance)

fetched: 32
1987: 8.79376585573
1988: 9.39596319776
1989: 3.27469249003
1990: 8.96514260367
1991: 13.86435782188
1992: 11.79329950125
1993: 6.36423065322
1994: 6.3399529412
1995: 11.33947454591
1996: 8.89722760047
1997: 5.64869573734
1998: 4.4739030423
1999: 5.90577559219
2000: 5.9894895328
2001: 3.68437868233
2002: 5.20344225805
2003: 4.32489600367
2004: 3.85320128989
2005: 3.74379779221
2006: 6.06171925156
2007: 5.99150144945
2008: 8.5728739849
2009: 9.72679142838
2010: 10.36054136004
2011: 8.31403662257
2012: 9.38230949079
2013: 10.10050781167
2014: 6.42317645001
2015: 4.91053469736
2016: 4.94894853737
2017: 3.32590585675
2018: 3.34285531854

This notebook was created using [pluto](http://pluto.studio). Learn more [here](https://github.com/shyams80/pluto)